<template name="footer">
    <footer>
        <div class="text-center" id="footer-top">
            <h4>1st Mexican Universities Debating Championship</h4>
            <h4>Tec de Monterrey CEM 13 Nov 2015 - 16 Nov 2015</h4>
        </div>
        <div class="row text-center" id="footer-bottom">
            <div class="col-md-4 col-md-offset-4">
                <a href="https://www.facebook.com/MUDC2015" target="_blank"><i id="social-fb" class="fa fa-facebook-square fa-4x social"></i></a>
                <a href="https://twitter.com/MUDC_2015" target="_blank"><i id="social-tw" class="fa fa-twitter-square fa-4x social"></i></a>
                <a href="mailto:mudc.cem@gmail.com" target="_blank"><i id="social-em" class="fa fa-envelope-square fa-4x social"></i></a>
                <p>Powered by Tec CEM debating team</p>
            </div>
            <div class="col-md-4">
                <h4>Tecnológico de Monterrey, Campus Estado de México</h4>
                <p>
                    Carr. Lago de Guadalupe Km. 3.5,<br/>
                    Margarita Maza de Juárez, <br/>
                    52926 Atizapán de Zaragoza, México
                </p>
                <a href="https://www.google.com/maps/dir/Current+Location/TECNOLOGICO+DE+MONTERREY+CAMPUS+ESTADO+DE+MEXICO" target="_blank" class="btn btn-default">
                    <span style="color: #d62d20;"><i class="fa fa-map-marker"></i></span>
                    Google
                </a>
                <a href="https://waze.to/lr/h9g3rqp2tq" target="_blank" class="btn btn-default">
                    <span style="color: #59899e;"><i class="fa fa-map-pin"></i></span>
                    Waze
                </a>
            </div>
        </div>
    </footer>
</template>