<template name="team">
    {{#contentFor region="pageTitle"}}
        Our team
    {{/contentFor}}
    {{#contentFor region="pageDescription"}}
        Get to know the members of our team and how they will be involved in this tournament.
    {{/contentFor}}
    <p>
        Our entrepreneurial spirit and exceeding quality standards precede us and are proof of our strong dedication and
        teamwork. In 2014 we hosted the World Universities Debating Championships in Spanish, successfully accommodating
        over 200 people and redefining the standards by which to measure debating championships in Spanish, bringing
        together more international participants than ever before. We can confidently say that our organization and our
        team set a watershed in what it meant to host Worlds in Spanish and it is a standard we not only hold ourselves
        to, but a standard that we are continuously working on and innovating.
    </p>
    <p>
        Our reputation exceeds solely being organizers, as we are the best team in Mexico and second best in Latin America
        as shown by the results of the superb members of this team. Amongst our most recent awards, we were winners of the
        first Liga Metropolitana de Debate and world runners of CMUDE 2015, as well as semi-finalists of the Campeonato
        Nacional de Debate.
    </p>
    <p>
        In the summer of 2015 we took it upon ourselves to expand the debating culture in Mexico and introduced the first
        Campeonato Nacional de Debate in Spanish, wherein we hosted 36 teams and a total of 120 participants.
    </p>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/team/isaac-avila.png" alt="Isaac Ávila">
                <div class="caption">
                    <h3>Isaac Ávila</h3>
                    <h4>Tournament director</h4>
                    <p>
                        First semester student of Financial Administration in Tecnológico de Monterrey CEM. He is an
                        entrepreneur developing his own Consulting company in his University's enterprise incubator.
                        His first experience in debating was in 2014 as volunteer coordinator of World Universities
                        Debating Championships in Spanish. He has been elected vicepresident of Tec CEM's debating team
                        for two years in a row. During the National Debating Championship in Spanish he was the Logistics
                        Coordinator. In the 2015 World Universities Debating Championship in Spanish he was part of Tec
                        CEM's delegation.
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>