<template name="teamAcademic">
    {{#contentFor region="pageTitle"}}
        Academic Comittee
    {{/contentFor}}
    {{#contentFor region="pageDescription"}}

    {{/contentFor}}
    <p>
        The tournament rules will be the same as used at the World Universities Debating Championship, as will be the
        judging paradigms and practices.
    </p>
    <p>
        The Academic Committee will, however,  adopt the best practices learned at the first National Championship in
        Spanish (Campeonato Nacional de Debate) hosted by us this year, including:
    </p>
    <ul>
        <li>Immediate tabulation</li>
        <li>Judging preliminary decision written forms</li>
        <li>Feedback between judges and from teams to judges</li>
    </ul>
    <p>
        This time we will also implement an equity officer that will oversee any equity issue at the tournament through
        either anonymous reporting or direct contact to the officer.
    </p>

    <h2>Workshops</h2>
    <p>
        Our workshops will focus both, on experienced and novice debaters. We understand that this is the first edition
        of the MUDC and thus, some debaters will also be on their first debating tournament,  hence we will make sure
        the rules are reviewed as well as recommending ways to improve.
    </p>
    <p>
        Our judges’ workshop will also review the tournament rules and will focus on unifying criteria for judging,
        including the speaker’s scale.
    </p>

    <h2>Motions Committee</h2>
    <p>
        Our motions committee mostly consists of Mexican students studying abroad. The six of them have represented
        México in World Championships and have gladly accepted to make diverse and fair motions.
    </p>
    <h3>Meet the team:</h3>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/team/david-alatorre.png" alt="David Alatorre">
                <div class="caption">
                    <h3>David Alatorre</h3>
                    <h4>Chief Adjudicator and Academic Director</h4>
                    <p>
                        Received his BA on International Relations at Tec de Monterrey Campus Estado de México and
                        studied for a year at Yale University. He is the Co-Founder and President of the Mexican Debate
                        Association, Tec de Monterrey Debate Professor and Entrepreneur.  After founding the first
                        parliamentary debate team in México, he was Grand-Finalist (2011), Semi-Finalist (2013) and 2nd
                        best  speaker (2011) at the World Universities Debating Championships in Spanish, which his
                        association hosted in 2014. Additionally he was the 5th best "English as a Foreign Language"
                        speaker at the World Universities Debating Championships in Berlin and reached the Grand-Finals
                        at tournaments in Europe and the United States. He has judged at the finals of three world
                        debate championships and will serve as Chief Adjudicator at the Pan American Universities
                        Debating Championship Jamaica 2016. He can appoint the academic team including Chief Adjudicator.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/team/rodolfo-flores.png" alt="Rodolfo Flores">
                <div class="caption">
                    <h3>Rodolfo Flores</h3>
                    <h4>Tab Master</h4>
                    <p>
                        Economic and Finance graduate from Tecnológico de Monterrey CEM with specialized courses and
                        studies in Econometrics and Research from UNAM and Yale University. He is a co-founder of Tec
                        CEM’s Debating team. He was a world runner in and 9th best speaker in WUDC in Spanish 2012. In
                        the 2013 WUDC he was the 3rd EFL Top Speaker. In 2014 he was the General Director WUDC in
                        Spanish in Mexico City. In the 2010 Harvard Model United Nations. He was also part of the team
                        for the Universus debating TV show.  He currently works in Ernst & Young in the area of
                        Transaction Advisory Services.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/team/lucia-arce.png" alt="Lucía Arce">
                <div class="caption">
                    <h3>Lucía Arce</h3>
                    <h4>Motions Committee</h4>
                    <p>
                        Biochemistry and genetics future graduate. She captained school's debate club, has several
                        championships and speaker awards under her belt, and is experienced in both English and Spanish
                        debate. Lucy attended the  Panamerican Schools Debating Championships twice, and in 2014 was the
                        highest ranking Latin American speaker, and one of the only two to place for a speaker award.
                        She was also an alternate for Team Mexico for the 2013 World Schools Debating Championship; and
                        rose through the ranks to captain the 2014 edition, where Mexico beat defending world champions
                        Australia and she placed as 13th best ESL speaker. After graduating, Lucy became a coach for
                        Colegio Suizo; and a judge for the national debate circuit and the Panamericans. This summer she
                        will be judging at the Spanish World Universities Debate Championship and it will also be her
                        second year to teach at the Mexican Debate Summer Camp.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/team/chris-dickson.png" alt="Chris Dickson">
                <div class="caption">
                    <h3>Chris Dickson</h3>
                    <h4>Motions Committee</h4>
                    <p>
                        Debated throughout high school with The American School Foundation debate team during the early
                        days of the Mexican debate circuit. During his time there he also debated competitively in
                        California, Dallas, and Boston, as well as winning first place in the 2011 Mexican Debate
                        Championship Extemporaneous Speech category. In 2012 he was selected to represent Mexico at the
                        Worlds School Debate Championships in Antlaya, Turkey. Debating against more than 50 other
                        nations, Chris and his teammates advanced to quarter finals and finished the tournament ranking
                        7th in the world - achieving Mexico's highest ranking in international debate. Since then, Chris
                        has aided in coaching newer members of the ASF Debate team, as well as following generations of
                        the Mexican National Debate team. Currently, Chris is studying Communications and Media
                        Criticism at George Mason University.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/team/sissi-li.png" alt="Sissi Li Zhou">
                <div class="caption">
                    <h3>Sissi Li Zhou</h3>
                    <h4>Motions Committee</h4>
                    <p>
                        Alumni (Class of '14) of the American School Foundation, A.C. and currently a sophomore at
                        Northeastern University, majoring in Economics and Political Science. She started debating
                        during freshman year in high school, and was co-captain of the school's team for two consecutive
                        years. She was also part of Team Mexico attending the World Schools Debating Championship in
                        Thailand, 2014, and ranked 19th best ESL speaker. She has continued to debate in college and is
                        currently part of the Executive Board of the Northeastern University Debate Society.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/team/julio-meyer.png" alt="Julio Meyer">
                <div class="caption">
                    <h3>Julio Meyer</h3>
                    <h4>Motions Committee</h4>
                    <p>
                        He has debated in WSDC, in addition to a number of WSDC in Mexico as part of the American School
                        Foundation  team and winning various awards. He has adjudicated in 3 WSDC and a number of
                        tournaments in United States.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/team/diego-cepeda.jpg" alt="Diego Cepeda">
                <div class="caption">
                    <h3>Diego Cepeda</h3>
                    <h4>Motions Committee</h4>
                    <p>
                        He was part of the American School Foundation debating team and has participated in WSDC and
                        local WSDC with outstanding participations, amongst which he was the Top Speaker ESL in WSDC.
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>