<template name="teamOrganizing">
    {{#contentFor region="pageTitle"}}
        Organizing Committee
    {{/contentFor}}
    {{#contentFor region="pageDescription"}}
    {{/contentFor}}

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/images/team/veronica-lira.png" alt="Verónica Lira">
            <div class="caption">
                <h3>Verónica Lira</h3>
                <h4>Logistics manager</h4>
                <p>
                    Third semester student of International Relations in Tecnológico de Monterrey CEM. Since 2010, she
                    has been participated in more than 10 Model United Nation (MUNs) in her native country, Mexico. In
                    2013 she was Secretary General of her high school's MUN. Verónica has also participated in the World
                    Universities Debating Championship in Spanish (CMUDE) 2014 in México, and 2015 in Colombia, in which
                    she achieved being in the top 40 teams worldwide. In the First National Debating Championship (CND)
                    she was a semifinalist as well as Content Manager. She was Tec CEM’s Debating Team secretary. Last
                    year she also participated in two Multidisciplinary Debating Competitions at the Tecnológico de
                    Monterrey Campus Estado de México as debater and moderator.
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/images/team/jorge-mayorga.png" alt="Jorge Mayorga">
            <div class="caption">
                <h3>Jorge Mayorga</h3>
                <h4>Financial manager</h4>
                <p>
                    fifth semester student of International Relations in Teconológico de Monterrey Campus Estado de
                    México. In 2013 he participated in the first International Debating Forum in Spanish reaching
                    semifinals with his team and ranking 3rd best speaker of the tournament. He was part of Tec CEM’s
                    2014 World Universities Debating Championships in India. He has also participated in the 2014 Ivy
                    League Model United Nations in 2014, as well as being a delegate for the 2014 WorldMUN in Brussels.
                    He was also a debater and organizer in the 2014 edition of World Universities Debating Championship
                    in Spanish. In 2015 he debate and helped the organization of the First National Debating
                    Championship in Spanish, reaching semifinals in it. Lastly, he was member of the Tec CEM delegation
                    to the 2015 World Universities Debating Championship in Spanish.
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/images/team/mariana-morales.png" alt="Mariana Morales">
            <div class="caption">
                <h3>Mariana Morales</h3>
                <h4>Media and Communication</h4>
                <p>
                    Third semester student of Media and Communication in Teconológico de Monterrey Campus Estado de
                    México. She participated in the first season of Universus, a Mexican debating TV show. She has
                    attended more than 26 MUNs with outstanding participations. In 2015 she participated in the first
                    multidisciplinary tournament in Tec CEM reaching semifinals. In the first National Debating
                    Championship she was part of the organizing committee and was a semifinalist. She participated and
                    won in the Colombian TV show “Convénceme si puedes.” In World Universities Debating Championships
                    in Spanish 2015 she was a Grand Finalist and currently holds the title as the 11th best speaker in
                    the Spanish speaking community.
                </p>
            </div>
        </div>
    </div>

</template>