<template name="tournament">
    {{#contentFor region="pageTitle"}}
        The tournament
    {{/contentFor}}
    {{#contentFor region="pageDescription"}}
        Mexican Universities Debating Championship will be proudly hosted by Tec CEM’s Debating Team from November13 to
        November 16. With our outstanding quality standards we hope to make this upcoming term the first step in
        increasing the number of Mexican universities participating in world-level tournaments.
    {{/contentFor}}


    <h2>The British Parliamentary Style</h2>

    <p>
        British Parliamentary style debate is a common form of academic debate. It has gained support in the United
        Kingdom, Ireland, Canada, India, Europe, Africa, Philippines, Australia, New Zealand and United States, and has
        also been adopted as the official style of the World Universities Debating Championship and European
        Universities Debating Championship. Speeches are usually five to seven minutes in duration.
    </p>
    <p>
        Because of the style's origins in British parliamentary procedure, the two sides are called the Government
        (more commonly called "Proposition" in the United Kingdom) and Opposition. The speakers are similarly titled:
    </p>
    <ul>
        <li>Opening Government (first faction):</li>
        <ul>
            <li>Prime Minister</li>
            <li>Deputy Prime Minister</li>
        </ul>
        <li>Opening Opposition (second faction):</li>
        <ul>
            <li>Leader of the Opposition</li>
            <li>Deputy Leader of the Opposition</li>
        </ul>
        <li>Closing Government (third faction):</li>
        <ul>
            <li>Member for the Government</li>
            <li>Government Whip</li>
        </ul>
        <li>Closing Opposition (fourth faction):</li>
        <ul>
            <li>Member for the Opposition</li>
            <li>Opposition Whip</li>
        </ul>
    </ul>

    <p>Speaking alternates between the two sides and the order of the debate is therefore:</p>
    <ol>
        <li>Prime Minister</li>
        <li>Leader of the Opposition</li>
        <li>Deputy Prime Minister</li>
        <li>Deputy Leader of the Opposition</li>
        <li>Member for the Government</li>
        <li>Member for the Opposition</li>
        <li>Government Whip</li>
        <li>Opposition Whip</li>
    </ol>

    <p>
        As British Parliamentary debates take place between four teams their roles are split into two categories, those
        for the Opening factions, and those for the Closing factions.
    </p>
    <h3>Opening factions</h3>
    <p>
        The first two teams on each Government and Opposition team are known as part of the Opening Half. Each has four
        basic roles in a British Parliamentary debate. They must:
    </p>
    <ul>
        <li>
            Establish clear definitions of terms that may be variously interpreted. For example, defining
            "this house" in the context of a debate on drug policy might include establishing that the primary actor
            is a country, international organization, or specific policymaker.</li>
        <li>
            Present their case.
        </li>
        <li>
            Respond to arguments raised by the opposing teams.
        </li>
        <li>
            Maintain their relevance during the debate by asking points of information.
        </li>
        <li>
            The Opening Government team has the semi-divine right of definition, preventing the opposition from
            challenging their definition of the motion unless it is either a truism or clearly unreasonable.
        </li>
    </ul>

    <h3>Closing factions</h3>
    <p>
        The role of the second two factions are to:
    </p>
    <ul>
        <li>
            Introduce a case extension.
        </li>
        <li>
            Establish and maintain their relevance early in the debate.
        </li>
        <li>
            Respond to the arguments of the first factions.
        </li>
        <li>
            Respond to the case extension of the opposing second faction.
        </li>
        <li>
            The opposition whip may not introduce new arguments for his faction, the government's whip may add new
            positive material as long as it's "small" and does not start a new line of argumentation.
        </li>
        <li>
            They must respond to both opposing factions' arguments
        </li>
        <li>
            They should briefly sum up their Opening Faction's case
        </li>
        <li>
            They should offer a conclusion of their own faction's case extension.
        </li>
    </ul>

    <h3>Points of information</h3>

    <p>
        The style demands that all speakers offer Points of Information (POIs) to their opposition. POIs are important
        in British Parliamentary style, as it allows the first two factions to maintain their relevance during the
        course of the debate, and the last two factions to introduce their arguments early in the debate. The first and
        last minute of each speech is considered "protected time", during which no points of information may be offered.
    </p>

    <h2>The following awards will be delivered</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">MUDC National Champions</h2>
                </div>
                <div class="panel-body">
                    Trophy awarded to the team that wins the tournament.
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Best Speaker</h2>
                </div>
                <div class="panel-body">
                    Trophy awarded to the person with the highest speaker points up to round 9. Diplomas will be awarded
                    to the top ten speakers of the tournament.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Masters’ Champions</h2>
                </div>
                <div class="panel-body">
                    Awarded to the winning team of the Masters’ tournament
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Public Speaking Champion</h2>
                </div>
                <div class="panel-body">
                    Medal awarded to the winner of the public speaking contest. 
                </div>
            </div>
        </div>
    </div>
</template>