<template name="tournamentVenue">
    {{#contentFor region="pageTitle"}}
        The venue
    {{/contentFor}}
    {{#contentFor region="pageDescription"}}
        Monterrey Institute of Technology and Higher Education, State of Mexico (ITESM CEM)
    {{/contentFor}}
    <div class="row">
        <div class="col-sm-4">
            <p>
                The story of Monterrey Institute of Technology and Higher Education (ITESM) State of Mexico goes back
                to a project conceived in 1974, when an important re-structuring of the ITESM system which perfected the
                creation of new campuses around Mexico.
            </p>
            <p>
                Two years after doctor César Morales Hernández was named Project Director for the creation of the
                State of Mexico Campus (CEM) in lands given by the State of Mexico's government in Atizapán de Zaragoza,
                region of great potential given its proximity to the industrial area of Naucalpan-Tlalnepantla-Vallejo.
            </p>
            <p>
                The construction of the campus began in May 1976 under the auspice of the Asociación de Enseñanza
                Tecnológica del Estado de México, A. C., presided by Don Eugenio Garza Lagüera, whi inspired the project
                of building a school that taught with the highest quality standards.
            </p>
            <p>
                In the foundations of our campus, doctor César Morales sticks out as founder-director. To him, we owe the
                efforts to give the new campus a futuristic sense and direction, always seeking to excel in academics.
                Doctor Morales has made us part of a dream which is now a palpable truth.
            </p>
        </div>
        <div class="col-sm-8">
            <div id="itesmSlider" class="owl-carousel">
                <div class="item"><img src="/images/itesm/itesm1.jpg" alt="ITESM CEM"></div>
                <div class="item"><img src="/images/itesm/itesm2.jpg" alt="ITESM CEM"></div>
                <div class="item"><img src="/images/itesm/itesm3.jpg" alt="ITESM CEM"></div>
                <div class="item"><img src="/images/itesm/itesm4.jpg" alt="ITESM CEM"></div>
                <div class="item"><img src="/images/itesm/itesm5.jpg" alt="ITESM CEM"></div>
                <div class="item"><img src="/images/itesm/itesm6.jpg" alt="ITESM CEM"></div>
                <div class="item"><img src="/images/itesm/itesm7.jpg" alt="ITESM CEM"></div>
                <div class="item"><img src="/images/itesm/itesm8.jpg" alt="ITESM CEM"></div>
                <div class="item"><img src="/images/itesm/itesm9.jpg" alt="ITESM CEM"></div>
                <div class="item"><img src="/images/itesm/itesm10.jpg" alt="ITESM CEM"></div>
            </div>
        </div>
    </div>

</template>