<template name="tournamentSchedule">
    {{#contentFor region="pageTitle"}}
        The schedule <small>November 13 to November 16</small>
    {{/contentFor}}
    {{#contentFor region="pageDescription"}}
        This is the official schedule, please refer to it whenever you are in doubt.
    {{/contentFor}}

    <table class="table table-bordered text-center">
        <thead>
        <tr>
            <th class="text-center" colspan="2">Friday 13</th>
            <th class="text-center" colspan="2">Saturday 14</th>
            <th class="text-center" colspan="2">Sunday 15</th>
            <th class="text-center" colspan="2">Monday 16</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>10:00</th>
            <td>Opening ceremony</td>
            <th>10:00</th>
            <td>Announcements and 3rd Motion</td>
            <th>10:00</th>
            <td>Announcements and 7th Motion</td>
            <th>10:00</th>
            <td>Announcements and quarterfinals Motion</td>
        </tr>
        <tr>
            <th>11:00</th>
            <td>Workshops</td>
            <th>10:30</th>
            <td>3rd Round</td>
            <th>10:30</th>
            <td>7th Round</td>
            <th>10:30</th>
            <td>Quarterfinals</td>
        </tr>
        <tr>
            <th>13:00</th>
            <td>Lunch</td>
            <th>12:30</th>
            <td>4th Motion</td>
            <th>12:30</th>
            <td>8th Motion</td>
            <th>12:30</th>
            <td>Semifinals Motion</td>
        </tr>
        <tr>
            <th>14:00</th>
            <td>Announcements and 1st Motion</td>
            <th>12:45</th>
            <td>4th Round</td>
            <th>12:45</th>
            <td>8th Round</td>
            <th>12:45</th>
            <td>Semifinals</td>
        </tr>
        <tr>
            <th>14:45</th>
            <td>1st Round</td>
            <th>14:15</th>
            <td>Lunch</td>
            <th>14:15</th>
            <td>Lunch</td>
            <th>14:30</th>
            <td>Public speaking Finals</td>
        </tr>
        <tr>
            <th>16:45</th>
            <td>2nd Motion</td>
            <th>15:15</th>
            <td>5th Motion</td>
            <th>15:15</th>
            <td>9th Motion</td>
            <th>10:00</th>
            <td>Lunch</td>
        </tr>
        <tr>
            <th>17:00</th>
            <td>2nd Round</td>
            <th>15:30</th>
            <td>5th Round</td>
            <th>15:30</th>
            <td>9th Round</td>
            <th>15:45</th>
            <td>Masters' Finals</td>
        </tr>
        <tr>
            <th>18:30</th>
            <td>Masters' debate and public speaking</td>
            <th>17:30</th>
            <td>6th Motion</td>
            <th>17:15</th>
            <td>Council Meeting</td>
            <th>17:30</th>
            <td>MUDC Final</td>
        </tr>
        <tr>
            <th></th>
            <td></td>
            <th>17:45</th>
            <td>6th Round</td>
            <th>18:30</th>
            <td>Break Night</td>
            <th>19:15</th>
            <td>Closing Ceremony</td>
        </tr>
        <tr>
            <th></th>
            <td></td>
            <th>19:00</th>
            <td>Masters' debate and public speaking</td>
            <th></th>
            <td></td>
            <th></th>
            <td></td>
        </tr>
        </tbody>
    </table>
</template>